<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</head>
<body>
<!--/*@thymesVar id="item" type="matmic.librarymaneger.model.Item"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${item}" th:action="@{/itempanel}" method="post">
                <input type="hidden" th:field="*{id}"/>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Item Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label>Title:</label>
                                    <input type="text" class="form-control" th:field="*{title}"/>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label>Item Type:</label>
                                    <select class="form-control" th:field="*{itemType}">
                                        <option th:each="type : ${T(matmic.librarymaneger.model.enums.ItemType).values()}"
                                                th:value="${type.name()}"
                                                th:text="${type.name()}">type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label>Author:</label>
                                    <input type="text" class="form-control" th:field="*{author}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>ISN Number:</label>
                                    <input type="text" class="form-control" th:field="*{internationalSegregationNumber}">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Publish Year:</label>
                                    <input type="number" class="form-control" th:field="*{publisher}">
                                </div>
                                <div class="col-md-5 form-group">
                                    <label>Distribution Type:</label>
                                    <select class="form-control" th:field="*{distributionType}">
                                        <option th:each="distType : ${T(matmic.librarymaneger.model.enums.DistributionType).values()}"
                                                th:value="${distType.name()}"
                                                th:text="${distType.name()}">DistType</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Publish year:</label>
                                    <input type="number" class="form-control" th:field="*{year}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Genre:</label>
                                    <input type="text" class="form-control" th:field="*{genre}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Image:</label>
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>