<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item preview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</head>
<body>
<!--/*@thymesVar id="item" type="matmic.librarymaneger.model.Item"*/-->
<!--/*@thymesVar id="items" type="java.util.List"*/-->

<div class="container-fluid">
    <div class="row" style="margin-top: 10%">
        <div class="col-md-8 col-md-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 class="panel-title" th:text="${item.title + ' ' + ' #' + item.id}">Title</h1>
                        </div>
                        <div class="btn-group" style="display: inline-block; float: right; margin-right: 2%">
                                <a href="#" th:href="@{'/itempanel/showitems'}" class="btn btn-default" role="button">Item List</a>
                                <a href="#" th:href="@{'/mainpanel'}" class="btn btn-default" role="button">Main Panel</a>
                                <a class="btn btn-default" href="#"
                                   th:href="@{'/itempanel/' + ${item.id} + '/uploadimage'}" role="button">Change Image</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="height: 500px;">
                    <div class="col-md-4 col-xs-12" style="margin-left: 1%; float: left; padding: 0; border: 1px solid black">
                            <div class="col-md-12 col-xs-" style="padding: 1%; float: left">
                                <label>ISN</label>  <span th:text="${item.internationalSegregationNumber}">78889</span>
                            </div>
                            <div class="col-md-12 col-xs-12" style="padding: 1%; float: left">
                                <label>Type</label>  <span th:text="${item.itemType}">author</span>
                            </div>
                            <div class="col-md-12 col-xs-12" style="padding: 1%; float: left">
                                <label>Genre</label>  <span th:text="${item.genre}">genre</span>
                            </div>
                    </div>
                    <div class="col-md-4 col-xs-12" style="margin-left: 1%; float: left; padding: 0; border: 1px solid black">
                        <div class="col-md-12 col-xs-12" style="padding: 1%; float: left">
                            <label>Publisher</label>
                            <span th:text="${item.publisher}"> publisher</span>
                        </div>
                        <div class="col-md-12 col-xs-12" style="padding: 1%; float: left">
                            <label>Year</label>
                            <span  th:text="${item.year}">year</span>
                        </div>
                        <div class="col-md-12 col-xs-12" style="padding: 1%; float: left">
                            <label>Release</label>
                            <span th:text="${item.releaseNumber}">number</span>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <img src="../../static/tacos400x400.jpg"
                             th:src="@{'/itempanel/' + ${item.id} + '/showimage'}" width="450" height="250" style="max-width: 100%;">
                    </div>
                </div>
            </div>
    <div class="col-md-6">
        <div class="container">
            <div class="btn-group" role="group">
                <a href="#" th:href="@{'/itempanel/' + ${item.id} + '/itemupdate'}" class="btn-default btn-lg " role="button">Update</a>
                <a href="#" th:href="@{'/itempanel/' + ${item.id} + '/delete'}" class="btn-danger btn-lg" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>