<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employees</title>

    <script th:src="@{js/jquery-3.2.1.js}"></script>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.0/b-html5-1.5.0/r-2.2.1/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.0/b-html5-1.5.0/r-2.2.1/datatables.min.js"></script>

    <script th:src="@{/js/librarian.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/tables-pages.css}" rel="stylesheet">


</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-colors"  id="navbar-baner-profile">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="navbar-header navbar-left" style="float: left" >
                    <button type="button" class="navbar-toggle collapsed resized-menu-button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" id="navbar-header-style">Librarian</a>
                </div>
                <ul class="nav navbar-right" style="float: right">
                    <li class="dropdown profile-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="profile-dropdown">Logged user <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Logout</a></li>

                        </ul>
                    </li>
                </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-resized-menu" id="navbar-collapse"  style="float: left;">
                <ul class="nav navbar-nav">
                    <li><a href="../user/userlist.html" >Users</a></li>
                    <li><a href="../item/itemlist.html">Items</a></li>
                    <li class="active"><a href="employeelist.html">Employees<span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
            <!--overview start-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading details-title" id="panel-heading-title">
                        EMPLOYEE LIST
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-for-table">
                                <div class="panel-heading">
                                    <div class="row">
                                        <h1 class="table-title">Employees</h1>
                                        <div class="add-new">
                                            <a class="btn btn-lg btn-success table-btn" href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" id="table-panel-body">
                                        <table id="locked-action-col-table" class="table table-hover table-striped table-bordered table-responsive" >
                                            <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th class="no-sort">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr><tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr><tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Don Dada</td>
                                                <td>mail@mail.com</td>
                                                <td>23545-234-213</td>
                                                <td class="td-align">
                                                    <div class="action-buttons">
                                                        <a class="btn btn-primary table-btn" href="#"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                        <a class="btn btn-danger table-btn" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>


</body>
</html>

