<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <style>
        /*@media screen and (max-width: 767px) {*/
        /*.row {height: auto;}*/
        /*}*/
        .btn{
            background-color: #2b2b2b;
            color: #cccccc;
        }
        .btn:hover{
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 10%">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Manager Panel</h1>
                </div>
                <div class="panel-body">
                    <div class="wrapper text-center">
                        <div class="btn-group special" role="group">
                            <a href="#" th:href="@{'/userpanel/userslist'}" class="btn btn-lg " role="button">Users</a>
                            <a href="#" th:href="@{'/itempanel/itemslist'}" class="btn btn-lg" role="button">Storage</a>
                        </div>
                    </div>
                    <div class="row " style="margin-top: 8px">
                        <div class="wrapper text-center">
                        <div class="btn-group special" role="group">
                            <a href="#" th:href="@{'/userpanel/newuser'}" class="btn btn-lg" role="button">Add User</a>
                            <a href="#" th:href="@{'/itempanel/newitem'}" class="btn btn-lg" role="button">Add Item</a>
                        </div>
                        </div>
                    </div>
                </div>
                 <div class="btn-group special" role="group" aria-label="...">
                     <a href="#" th:href="@{'/logout'}" class="btn btn-lg " role="button">Logout</a>
                 </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>