<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="userview.css">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="user" type="matmic.librarymaneger.model.User"*/-->
<!--/*@thymesVar id="users" type="java.util.List"*/-->

<div class="container-fluid">
    <div class="row" style="margin-top: 10%">
        <div class="col-md-4 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 class="panel-title" th:text="${user.firstName + ' ' + user.lastName + ' #' + user.id}">User Name</h1>
                        </div>
                        <div class="btn-group">
                            <div class="col-md-5">
                                <a href="#" th:href="@{'/userpanel/showlist'}" class="btn btn-default" role="button">User List</a>
                            </div>
                            <div class="col-md-5">
                                <a href="#" th:href="@{'/mainpanel'}" class="btn btn-default" role="button">Main Panel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body>">
                    <div class="row">
                        <div class="col-md-3" style="margin-left: 5%">
                            <h5>Phone Number: <span th:text="${user.phoneNumber}">78889</span></h5>
                            <h5>Email: <span th:text="${user.email}">mail</span></h5>
                        </div>
                        <div class="row" style="margin-left: 5%">
                            <div class="col-md-3">
                                <h5>Address: <span th:text="${user.address + ', ' + user.postCode}">address</span></h5>
                                <h5>City: <span th:text="${user.city}">City</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 loans">
                                <table class="table-hover">
                                    <thead>
                                       <tr>
                                           <th>Loans</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:remove="all">
                                            <td > this</td>
                                        </tr>
                                        <tr th:each="loan : ${user.userLibraryAccount.bookLoans}">
                                            <td th:text="${loan.book.getTitle()}"> this</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="container">
            <div class="btn-group" role="group">
                <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/userupdate'}" class="btn-default btn-lg " role="button">Update</a>
                <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/newloan'}" class="btn-default btn-lg" role="button">New Loan</a>
                <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/deleteloan'}" class="btn-default btn-lg" role="button">Delete Loan</a>
                <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/delete'}" class="btn-default btn-lg" role="button">Delete</a>
            </div>
        </div>
    </div>
        </div>
<style>
    tr {
        width: 100%;
        display: inline-table;
        height:40px;
        table-layout: fixed;
    }
    table{
        height:250px;
        display: -moz-groupbox;

    }
    tbody{
        overflow-y: scroll;
        height: 200px;
        width: 90%;
        position: absolute;
        border: solid;
    }
    .loans{
        margin-left: 5%;
    }
</style>
</body>
</html>