<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
          <!--th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" type="text/css" href="userview.css">-->
    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"-->
            <!--th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
</head>
<body>
<!--/*@thymesVar id="user" type="matmic.librarymaneger.model.User"*/-->
<!--/*@thymesVar id="users" type="java.util.List"*/-->

<div class="container-fluid">
    <div class="row" style="margin-top: 10%">
        <div class="col-md-5 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 class="panel-title" th:text="${user.firstName + ' ' + user.lastName + ' #' + user.id}">User Name</h1>
                        </div>
                        <div class="btn-group">
                            <div class="col-md-5">
                                <a href="#" th:href="@{'/userpanel/showlist'}" class="btn btn-default" role="button">User List</a>
                            </div>
                            <div class="col-md-5">
                                <a href="#" th:href="@{'/mainpanel'}" class="btn btn-default" role="button">Main Panel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body>">
                    <div class="row">
                        <div class="col-md-6" style="margin-left: 5%">
                            <div class="col-md-5">
                                <label>Phone Number </label>
                                <p th:text="${user.phoneNumber}">78889</p>
                            </div>
                            <div class="col-md-3">
                                <label>Email</label>
                                <p th:text="${user.email}">malkpokpokkjkjhkhil</p>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 5%">
                            <div class="col-md-5">
                                <label>Address: </label><span th:text="${user.address + ', ' + user.postCode}">addkjhkhkjhkjhkjhkjhkjhkjhress</span>
                            </div>
                            <div class="col-md-5">
                                <label>City: </label><span th:text="${user.city}">City</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 loans" style="margin-top: 40px">
                                <table class="table table-hover">
                                    <thead class="thead-inverse">
                                       <tr>
                                           <th>Tile</th>
                                           <th>Date</th>
                                           <th>Delete</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:remove="all">
                                            <td > this</td>
                                        </tr>
                                        <tr th:each="loan : ${user.loanLine}">
                                            <td th:text="${loan.item.title}"> item title</td>
                                            <td th:text="${loan.loanDate}">date</td>
                                            <td><a href="#" th:href="@{'/loanpanel/loan/' + ${loan.id} + '/deleteloan'}"
                                                   class="btn-default btn-xs" role="button">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <img src="../../static/default.jpg"
                                     th:src="@{'/userpanel/' + ${user.id} + '/userimage'}" width="150" height="170">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    <div class="col-md-3 col-md-offset-3" style="margin-left: 210px;">
        <div class="container">
            <div class="btn-group" role="group">
                <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/userupdate'}" class="btn-default btn-lg " role="button">Update</a>
                <a href="#" th:href="@{'/loanpanel/user/' + ${user.id} + '/newloan'}" class="btn-default btn-lg" role="button">New Loan</a>
                <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/delete'}" class="btn-default btn-lg" role="button">Delete</a>
            </div>
        </div>
    </div>
        </div>
<style>
    tr {
        width: 100%;
        display: inline-table;
        height:40px;
        table-layout: fixed;
    }
    thead tr{
        width: 90%;
    }
    table{
        height:250px;
        display: -moz-groupbox;

    }
    tbody{
        overflow-y: scroll;
        height: 170px;
        width: 90%;
        position: absolute;

    }
    .loans{
        margin-left: 5%;
    }

</style>
</body>
</html>