<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
          <!--th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">-->

    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"-->
            <!--th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->

</head>
<body>
<!--/*@thymesVar id="user" type="matmic.librarymaneger.model.User"*/-->
<!--/*@thymesVar id="users" type="java.util.List"*/-->

<div class="row content">
    <div class="col-md-6 col-md-offset-3">
       <div class="panel panel-default">
           <div class="panel-heading" style="display: inline-table; width: 100%">
                <h2 style="float: left; margin-top: 5px">Users</h2>
                   <div class="col-md-3" style="float: right">
                       <a href="#" th:href="@{'/mainpanel'}" class="btn btn-default" role="button">Main Panel</a>
                   </div>
           </div>
           <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>User Name</th>
                        </tr>
                        </thead>
                        <tr th:remove="all" >
                            <td>1</td>
                            <td>Tomas Edison</td>
                            <td>Show User</td>
                        </tr>
                        <tr th:remove="all">
                            <td>1</td>
                            <td>Tomas Edison</td>
                            <td>Show User</td>
                        </tr>
                        <tr style="cursor: pointer" th:each="user : ${users}">
                            <td th:text="${user.id}">1</td>
                            <td th:text="${user.firstName + ' ' + user.lastName}">Tomas Edison</td>
                            <td ><a href="#" th:href="@{'/userpanel/' + ${user.id} + '/show'}">Show User</a></td>
                        </tr>
                    </table>
                </div>
            </div>
       </div>
    </div>
</div>
</body>
</html>