<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</head>
<body>
<!--/*@thymesVar id="user" type="matmic.librarymaneger.model.User"*/-->
<!--/*@thymesVar id="users" type="java.util.List"*/-->

<div class="container-fluid">
    <div class="row" style="margin-top: 10%">
        <div class="col-md-8 col-md-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 class="panel-title" th:text="${user.firstName + ' ' + user.lastName + ' #' + user.id}">User Name</h1>
                        </div>
                        <div class="btn-group" style="display: inline-block; float: right; margin-right: 2%">
                                <a href="#" th:href="@{'/userpanel/showlist'}" class="btn btn-default" role="button">User List</a>
                                <a href="#" th:href="@{'/mainpanel'}" class="btn btn-default" role="button">Main Panel</a>
                                <a class="btn btn-default" href="#"
                                   th:href="@{'/userpanel/' + ${user.id} + '/uploadimage'}" role="button">Change Image</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="height: 700px">
                    <div class="col-md-3" style="float: right; margin-top: 20px;">
                        <img src="../../static/tacos400x400.jpg"
                             th:src="@{'/userpanel/' + ${user.id} + '/showimage'}" width="180" height="200" style="max-width: 100%; height: auto">
                    </div>
                    <div class="col-md-8 col-xs-12" style="margin-left: 1%; border: 1px solid black; padding: 0 1%; margin-top: 1%">
                        <div class="col-md-6 col-xs-6" style="float: left; padding: 1%">
                            <label>Phone Number </label>
                            <p th:text="${user.phoneNumber}">78889</p>
                        </div>
                        <div class="col-md-6 col-xs-6" style="float: left; padding: 1%">
                            <label>Email</label>
                            <p th:text="${user.email}">malkpokpokkjkjhkhil</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12" style="margin-left: 1%; border: 1px solid black; padding: 0 1%; height: 80px; margin-top: 1%">
                        <div class="col-md-6 col-xs-6" style="float: left; padding: 1%; height: 100%">
                            <label>Address</label>
                            <p th:text="${user.address + ', ' + user.postCode}">Piotrkowska 255/34</p>
                        </div>
                        <div class="col-md-6 col-xs-6" style="float: left; padding: 1%;">
                            <label>City </label>
                            <p th:text="${user.city}">City</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12" style="margin-top: 10%; float: left; width: 60%">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                               <tr>
                                   <th>Tile</th>
                                   <th>Date</th>
                                   <th>Delete</th>
                               </tr>
                            </thead>
                            <tbody>
                                <tr th:remove="all">
                                    <td > this</td>
                                </tr>
                                <tr th:each="loan : ${user.loanLine}">
                                    <td th:text="${loan.item.title}"> item title</td>
                                    <td th:text="${loan.loanDate}">date</td>
                                    <td><a href="#" th:href="@{'/loanpanel/user/' + ${user.id} + '/loan/' + ${loan.id} + '/deleteloan'}"
                                           class="btn-danger btn-xs" style="text-decoration: none" role="button">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-3 col-lg-6">
                <div class="btn-group" role="group">
                    <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/userupdate'}" class="btn-default btn-lg " role="button">Update</a>
                    <a href="#" th:href="@{'/loanpanel/user/' + ${user.id} + '/newloan'}" class="btn-default btn-lg" role="button">New Loan</a>
                    <a href="#" th:href="@{'/userpanel/' + ${user.id} + '/delete'}" class="btn-danger btn-lg" style="text-decoration: none" role="button">Delete</a>
                </div>
        </div>
    </div>
</div>
<style>
    tr {
        width: 100%;
        display: inline-table;
        height:40px;
        table-layout: fixed;
    }
    thead tr{
        width: 90%;
    }
    table{
        height:300px;
        display: -moz-groupbox;

    }
    tbody{
        overflow-y: scroll;
        height: 170px;
        width: 90%;
        position: absolute;

    }
    .loans{
        margin-left: 5%;
    }

</style>
</body>
</html>
