<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    

</head>
<body>
<!--/*@thymesVar id="user" type="matmic.librarymaneger.model.User"*/-->
<!--/*@thymesVar id="users" type="java.util.List"*/-->

<div class="row content">
    <div class="col-md-6 col-md-offset-3">
       <div class="panel panel-default">
           <div class="panel-heading" style="display: inline-table; width: 100%">
                <h2 style="float: left; margin-top: 5px">Users</h2>
                   <div class="col-md-3" style="float: right">
                       <a href="#" th:href="@{'/mainpanel'}" class="btn btn-default" role="button">Main Panel</a>
                   </div>
           </div>
           <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>User Name</th>
                        </tr>
                        </thead>
                        <tr th:remove="all" >
                            <td>1</td>
                            <td>Tomas Edison</td>
                            <td>Show User</td>
                        </tr>
                        <tr th:remove="all">
                            <td>1</td>
                            <td>Tomas Edison</td>
                            <td>Show User</td>
                        </tr>
                        <tr style="cursor: pointer" th:each="user : ${users}">
                            <td th:text="${user.id}">1</td>
                            <td th:text="${user.firstName + ' ' + user.lastName}">Tomas Edison</td>
                            <td ><a href="#" th:href="@{'/userpanel/' + ${user.id} + '/show'}">Show User</a></td>
                        </tr>
                    </table>
                </div>
            </div>
       </div>
    </div>
</div>
</body>
</html>

<div class="col-lg-6 col-md-6 col-sm-6" style="float: right; margin-right: auto">
                                    <form th:object="${loan}" th:action="@{/loan/user/${user.id}/item/${item.id}/saveloan}" method="post">
                                        <input type="hidden" th:field="*{id}"/>
                                        <div class="panel panel-default">
                                            <div class="panel-heading " id="item-to-loan-heading-form">
                                                <h1 class="panel-title" >Item to loan id</h1>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-5 form-group">
                                                        <label>Title:</label>
                                                        <input id="item-title" disabled type="text" class="form-control"/>
                                                    </div>
                                                    <div class=" col-lg-2 col-md-5 form-group">
                                                        <label>Type:</label>
                                                        <input id="item-type" disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="col-lg-2 col-md-3 form-group">
                                                        <label>Genre:</label>
                                                        <input id="item-genre" disabled type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-5 form-group">
                                                        <label>Author:</label>
                                                        <input id="item-author" disabled type="text" class="form-control"/>
                                                    </div>
                                                    <div class="col-md-3 form-group">
                                                        <label>Distribution:</label>
                                                        <input id="item-distribution" disabled type="text" class="form-control"/>
                                                    </div>
                                                    <div class="col-lg-2 col-md-3 form-group">
                                                        <label>Year:</label>
                                                        <input id="item-year" disabled type="number" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-5 form-group">
                                                        <label>Publisher:</label>
                                                        <input id="item-publisher" disabled type="text" class="form-control"/>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 form-group">
                                                        <label>ISN:</label>
                                                        <input id="item-isn" disabled type="text" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
